<div class="jumbotron" id="jumbotron" style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat center center scroll;">
    <p class="display-4 pt-5 text-center text-info">Kanglc -Blog</p>
	<p class="text-white text-center" >联系邮箱：klcmcu@163.com</p>
	<p class="text-white text-center" >QQ：365046128</p>
    <p class="text-white text-center" >水木社区<a href="http://www.newsmth.net/">Szhshp</a></p>
    <p class="text-white text-center" >百度搜索: <a href="https://www.baidu.com">Project Gaia</a></p>
</div>